.extlb-popup {
  border-radius: 4px;
  border-radius: 0.25rem;
  position: absolute;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 40px rgba(51, 51, 51, 0.15);
          box-shadow: 0 0 40px rgba(51, 51, 51, 0.15);
  width: 350px;
  max-width: 90vw;
  z-index: 999;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }
  .extlb-popup::before {
    top: -15px;
    top: -0.9375rem;
    border-left: 15px solid transparent;
    border-left: 0.9375rem solid transparent;
    border-right: 15px solid transparent;
    border-right: 0.9375rem solid transparent;
    border-bottom: 15px solid #FFFFFF;
    border-bottom: 0.9375rem solid #FFFFFF;
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  .extlb-popup__image-holder {
    border-radius: 4px 4px 0 0;
    border-radius: 0.25rem 0.25rem 0 0;
    height: 160px;
    max-width: 100%;
    overflow: hidden;
    position: relative; }
  .extlb-popup__image {
    max-width: 100%;
    position: absolute;
    left: 0%;
    top: 0%; }
  .extlb-popup__title {
    font-size: 20px;
    font-size: 1.25rem;
    padding: 32px 30px 0 30px;
    padding: 2rem 1.875rem 0 1.875rem;
    display: block;
    line-height: 1.25;
    color: #333333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .extlb-popup__title--dark {
      color: #FFFFFF; }
  .extlb-popup__content {
    font-size: 14px;
    font-size: 0.875rem;
    margin-top: 16px;
    margin-top: 1rem;
    padding: 0 30px;
    padding: 0 1.875rem;
    color: #333333;
    display: block;
    line-height: 1.5; }
    .extlb-popup__content--dark {
      color: #FFFFFF; }
  .extlb-popup__readmore {
    margin-top: 16px;
    margin-top: 1rem;
    font-size: 14px;
    font-size: 0.875rem;
    padding: 0 30px 30px 30px;
    padding: 0 1.875rem 1.875rem 1.875rem;
    text-decoration: underline;
    display: inline-block;
    cursor: pointer;
    color: #333333; }
    .extlb-popup__readmore--dark {
      color: #FFFFFF; }
  .extlb-popup--dark {
    background: #5c5c5c; }
    .extlb-popup--dark::before {
      border-left: 15px solid transparent;
      border-left: 0.9375rem solid transparent;
      border-right: 15px solid transparent;
      border-right: 0.9375rem solid transparent;
      border-bottom: 15px solid #5c5c5c;
      border-bottom: 0.9375rem solid #5c5c5c;
      content: ""; }
