.extlb-popup {
  position: absolute;
  background: white;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.15);
  width: 350px;
  max-width: 90vw;
  border-radius: 4px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.extlb-popup::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #fff;
}
.extlb-popup--dark {
  background: #5c5c5c;
}
.extlb-popup--dark::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #5c5c5c;
}
.extlb-popup__image-holder {
  max-width: 100%;
  height: 160px;
  overflow: hidden;
  position: relative;
  border-radius: 4px 4px 0 0;
}
.extlb-popup__image {
  max-width: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
}
.extlb-popup__title {
  display: block;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #333;
  padding: 2rem 1.875rem 0 1.875rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}
.extlb-popup__title--dark {
  color: #fff;
}
.extlb-popup__content {
  font-size: 0.875rem;
  color: #333;
  display: block;
  margin-top: 1rem;
  line-height: 1.5;
  padding: 0 1.875rem;
}
.extlb-popup__content--dark {
  color: #fff;
}
.extlb-popup__readmore {
  text-decoration: underline;
  display: inline-block;
  margin-top: 0.5rem;
  cursor: pointer;
  font-size: 0.875rem;
  color: #333;
  padding: 0 1.875rem 1.875rem 1.875rem;
}
.extlb-popup__readmore--dark {
  color: #fff;
}



/* ############################ */

.post-preview {
	position: fixed;
	display: none;
	background-color: #fefefe;
	box-shadow: 4px 6px 25px 7px rgba(0, 0, 0, 0.15);
	width: 300px;
	padding: 25px;
	top: 35px;
	z-index: 2;
	left: 50%;
	transform: translateX(-50%);
	transition: all .3s ease-in-out;
}
.post-preview::before {
	content: '';
	position: absolute;
	left: 50%;
	top: -20px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid transparent;
	border-bottom: 10px solid #fefefe;
	transform: translateX(-50%);
}
.post-preview:after {
	content: '';
	width: 100%;
	height: 20px;
	background: transparent;
	position: absolute;
	top: -20px;
	left: 0;
}
.post-preview__title {
	font-size: 1.5rem;
}
.post-preview__content {
	font-size: 1rem;
	margin-top: 10px;
}
.post-preview__link {
	display: block;
	margin-top: 10px;
}

@media screen and (min-width: 960px) {
	.post-preview {
		display: inline-block;
	}
}